{% extends 'base.html.twig' %}

{% form_theme formImage 'bootstrap_5_layout.html.twig' %}
{% block body %}

    <h3>Page de l'image du commentaire de "{{ comment.author.username }}"</h3>
    <div class="row">
        {% for image in comment.image %}
            <div class="col-6">
                <img class="img-fluid rounded-3" style="height: 150px; object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('vignette_article') }}" alt="">
            </div>
        {% endfor %}
    </div>

    {% if comment.image is empty %}
    <h3>Ajouter une image</h3>

    {{ form_start(formImage, {attr:{action:path('add_comment_image', {id:comment.id})}}) }}
    {{ form_row(formImage.imageFile) }}
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(formImage) }}
    {% endif %}
    <a href="{{ path('app_show',{id: comment.article.id}) }}" class="btn btn-secondary mt-3">Retour</a>




{% endblock %}

{% block title %}

{% endblock %}