{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-4"><h1>Tous les articles</h1></div>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">

                            <div class="card-header">
                                {% include 'image/image_or_not_image.html.twig' with {object:article} %}

                            </div>
                                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <h5>{{ article.titre }}</h5>
                                <div class="text-muted">Catégorie : {{ article.category.name }}</div>
                            </div>
                            <p class="card-text">{{ article.content }}</p>
                            <div class="d-flex justify-content-end">
                                {% include 'like/button.html.twig' with { routeName:"app_like", object:article } %}
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted mt-3 d-flex flex-column">


                                <div class="mb-2">

                                    Auteur :
                                    {% if article.author.image is not empty %}
                                    {% for image in article.author.image %}
                                        <img class="img-fluid rounded-circle me-2" style=" object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('petite_vignette') }}" alt="">
                                    {% endfor %}
                                    {% else %}
                                        <img class="img-fluid mx-1  rounded-3" style="max-width: 150px; max-height: 150px;" src="{{ asset("images/no_image_profile.png")|imagine_filter('petite_vignette') }}" alt="">
                                    {% endif%}
                                    {{ article.author.username }}
                                </div>


                                <div>Ecrit le {{ article.createdAt|date("d/m/Y H:i") }}</div>
                            </small>
                            <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path("app_show", {id: article.id}) }}" class="btn btn-primary mt-3"><i class="bi bi-caret-right-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


            <script src="{{ asset('like.js') }}"></script>

{% endblock %}
